/*
 * Copyright (c) 2026
 *
 * SPDX-License-Identifier: MIT
 */

#include "velociraptor36.dtsi"
#include <dt-bindings/i2c/i2c.h>
#include <dt-bindings/led/led.h>

&kscan0 {
    status = "disabled";
};

&pinctrl {
    dongle_spi3_default: dongle_spi3_default {
        group1 {
            /* Virtual one-pixel output; no physical LED is required. */
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };

    dongle_spi3_sleep: dongle_spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };

    dongle_i2c0_default: dongle_i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
        };
    };

    dongle_i2c0_sleep: dongle_i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
            low-power-enable;
        };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&dongle_spi3_default>;
    pinctrl-1 = <&dongle_spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <1>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&dongle_i2c0_default>;
    pinctrl-1 = <&dongle_i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};

/ {
    chosen {
        zmk,kscan = &dongle_kscan;
        zmk,physical-layout = &velociraptor36_layout;
        zmk,underglow = &led_strip;
        zephyr,display = &oled;
    };

    dongle_kscan: dongle_kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};
